extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
    style
      include  ../static/stylehome.css 
      include  ../static/styleabout.css

block content 
    div.container
        h1 ABOUT US 
        p THANK YOU FOR CHOOSING OUR DANCE ACADEMY.
        img(src="static/1i.jpg", alt="error")
        
        h2 &#8226; we have great dancing staff ,as guidance is very much important for the perfect profesional dancer 
        h2 &#8226; we have experienced and profesional event manager for dancers to promot towards competition
        h2 &#8226; dancers can get many opportunities to showcase their onstage confidence and performance
        h2 &#8226; we have many sponsors to give sponsorship for talented students and eligible students.
        h2 &#8226; our dance academy have weekly competition and regular rehersal  for weak students

        