doctype html
html
  head
    title Mydance academy 
    block scripts
    block style
     
  body
    nav#navbar 
        ul 
            div#logo
              img(src="/static/img/logo.png")
              |MDA
            li #[a(href="/") &#8635]
            li #[a(href="/home") home]
            li #[a(href="/about") about us]
            li #[a(href="/services") services]
            li #[a(href="/contact") contact us &#9743]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            li #[a(href="/contact")]
            
           
            li #[a(href="/") &#9776]
            
    block content

    footer#footer 
        |Copyright &copy Mydaanceacademy 2021.|All Rights Reserved
   
