extends base.html

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/static/index.js"></script>
  <link rel="stylesheet" href="../static/stylehome.css">
</head>

<body>
  <section id="introsection">
    <h2>welcome to my dance academy</h2>
    <div class="small">Enjoy the dancing</div>
  </section>

  <section id="missionsection">
    <h2>Our Mission</h2>
    <div class="card">
      <h3>dance with enjoy</h3>
      <div class="card-box">
        <div class="card-img">
          <img src="/static/img/1.png" alt="ERROR IMAGE">
        </div>
        <div class="card-content">
          <p>this is a profesional academy</p>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>expert coaching</h3>
      <div class="card-box">
        <div class="card-img">
          <img src="/static/img/2.png" alt="ERROR IMAGE">
        </div>
        <div class="card-contetn">
          <p>u will efinitely love and enjoy dancing </p>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>love dancing</h3>
      <div class="card-box">
        <div class="card-img">
          <img src="/static/img/3.png" alt="ERROR IMAGE">
        </div>
        <div class="card-content">
          <p>surrounding of our academy is lovable as we have garden too</p>
        </div>
      </div>
    </div>
  </section>
  <section id="sponsorssection">
    <h2>Our Sponsors</h2>
    <div id="sponsors">
      <img src="/static/img/logo1.png" alt="loading" ,class="Spimage">
      <img src="/static/img/logo2.png" alt="loading" ,class="Spimage">
      <img src="/static/img/logo3.png" alt="loading" ,class="Spimage">
      <img src="/static/img/logo4.png" alt="loading" ,class="Spimage">
    </div>
  </section>
</body>

</html