extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
    style
      include  ../static/styleservices.css 
      include  ../static/stylehome.css
    //-   include  ../static/stylecontact.css 

block content 
    h1 SERVICES
    img(src="/static/fee.jpeg", alt="error")
    #section 
      h2  thank you for visting !!!! 
      h2 visit again 
      h2 give your valuable feedback on our mail "ganeshbhise0205@gmail.com"
      h3 #[a(href="https://gmail.com") &#8226; Your feedback here &#8226;]



  

