extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
    style
      include  ../static/stylehome.css 
      include  ../static/stylewelcome.css
      //- include  ../static/styleabout.css

block content
        div.image
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          
        div.container 
          h1 WELCOME TO MY DANCE ACADEMY 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur blanditiis illum optio autem dolor odio qui iusto perferendis incidunt quis tempora, corrupti suscipit quidem fuga impedit aperiam voluptate ut laudantium? Numquam, perspiciatis dignissimos? Eos aspernatur quia impedit perspiciatis cum similique iste porro tempora culpa quisquam? Accusantium corrupti reiciendis itaque commodi at nihil doloribus, aut vero eius placeat inventore recusandae quam sequi ducimus voluptatibus voluptatum harum iusto veritatis! Rem praesentium, consectetur voluptatibus porro sunt inventore sapiente eos saepe eveniet dolorum? Nam sint rerum natus sequi iste officia quo fugiat reprehenderit eos vero! Beatae repellat commodi ipsa vero facilis delectus eum!
          