extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
    style
      include  ../static/stylehome.css 
      include  ../static/stylewelcome.css
      //- include  ../static/styleabout.css

block content
        div.image
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          img(src="/static/img/wbg.jpg", alt="error")
          
        div.container 
          h1 WELCOME TO MY DANCE ACADEMY 
          p The early period of Modern India witnessed the growth of Company Rule in India. The Company Rule in the Indian sub-continent is also referred to as Company Raj. It was the rule of the British East India Company that extended to many parts of India. It is believed to have begun in the year 1757 after the end of Battle of Plassey. The Nawab of Bengal gave up his powers to the company, making it strong and powerful.
          
